<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN DE USUARIO</title>
</head>
<body>
    <h1>LOGIN DE USUARIO</h1>
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/registro">REGISTRO</a></li>
        <li><a href="/login">LOGIN</a></li>
        <li><a href="/detalle">DETALLE DEL PRODUCTO</a></li>
        <li><a href="/carrito">CARRITO</a></li>
    </ul>
</body>
</html>